
#piContainer {
    overflow: hidden;
    position: relative;
    border: 1px solid #dddddd;
    border-radius: 11px;
    padding: 10px;
    min-height: 100px;
    margin: 0 0 20px;
}

#piContainer .pane-images {
    overflow: hidden;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    min-height: 142px;
}

#piContainer .place-titled {
    background: #e8ffe8;
    position: absolute;
    width: 140px;
    height: 140px;
    border-radius: 11px;
}

#piContainer .item {
    float: left;
    width: 122px;
    height: 122px;
    position: relative;
    margin: 10px;
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 11px;
    list-style: none;
    text-align: center;
    line-height: 100px;
    background: #ffffff;
}

#piContainer .item img {
    max-width: 100px;
    max-height: 100px;
}
#piContainer .item .remove {
    position: absolute;
    top: 0;
    right: 0;
    width: 18px;
    height: 18px;
    border-radius: 11px;
    border: 2px solid white;
    background: #ff8888;
    color: #ffffff;
    font-weight: bold;
    font-size: 11px;
    text-align: center;
    cursor: pointer;
    line-height: 13px;
}

#piContainer .item .main {
    position: absolute;
    top: 0;
    right: 20px;
    width: 18px;
    height: 18px;
    border-radius: 11px;
    border: 2px solid white;
    background: #dddddd;
    color: #ffffff;
    font-weight: bold;
    font-size: 11px;
    text-align: center;
    cursor: pointer;
    line-height: 13px;
    display: none;
}

#piContainer .item.title .main {
    background: #88ff88;
    cursor: default;
}

#piContainer.blocked .pane-main {
    opacity: 0.1;
}

#piContainer .pane-block {
    display: none;
}

#piContainer.blocked .pane-block {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 40px 0;
}