.mod-jshopping-categories {
    background-color: #FFFFFF;
    overflow: hidden;
}

.mod-jshopping-categories a:hover {
    background-color: #EBEFF1;
}

.mod-jshopping-categories a {
    padding: 2px 0 2px 20px;
    display: block;
}

.jshop_menu_level_0_a a, 
.jshop_menu_level_1_a a, 
.jshop_menu_level_2_a a {
    background-color: #FFFFFF;
    color: #333333;
}
