.mod-login-buttonlink .btn-group .dropdown-menu form {
    margin: 20px !important;
    overflow: hidden;
}

.mod-login-buttonlink .btn-group .dropdown-menu .links-list a {
    padding: 0px !important;
    font-size: 12px;
}