#address-form {
    margin-top: 10px;
}

.jshop_register {
    width: 400px;
    margin: 0 auto;
}

.jshop_register .inputbox {
    margin-top: 10px;
    margin-bottom: 10px;
}

.required-mark {
    color: red;
}

.requiredtext {
    text-align: right;
}

.control-panel {
    margin-top: 50px;
    text-align: center;
}

.result-message {
    margin: 50px 0;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
}