@font-face {
    font-family: Awesome;
    src: url(../fonts/awesome/fontawesome-webfont.eot);
}

.jshop.scenemode .listproduct .product .context-menu {
    display: none;
}

.jshop.scenemode .listproduct .product:hover .context-menu {
    display: block;
}

.jshop .scene .pointer-left,
.jshop .scene .pointer-right {
    display: none;
}

.jshop .scene .pointer-left.highlight,
.jshop .scene .pointer-right.highlight {
    display: block;
}
