#header-top {
    border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    
    background-color: #f4f4f4; 
    
    margin-bottom: 20px;
}

.breadcrumb {
    background-color: transparent;
}

/* com_joomshopping */
.jshop select[name="limit"] {
    width: 60px;
}

/* Main menu */

#pos-apex-middle .modtype-mod_menu .nav {
    padding-right: 0px;
    margin-right: 0px;
}

#pos-apex-middle .modtype-mod_menu .nav .navbar .nav-list > li > a, .nav-list .nav-header {
    margin-left: 0px;
    margin-right: 0px;
}

.nav-list.nav-pills li {
    clear: both;
}

/* social nets module */

.modtype-mod_custom.social a {
    margin: 23px 0 0 23px;
    display: block;
    white-space: nowrap;
}

.modtype-mod_custom.social a img {
    height: 16px;
    width: 16px;
}

.modtype-mod_custom.social a span {
    color: #ccc;
    padding-left: 4px;
}

@media (max-width:979px) {

    .modtype-mod_custom.social a {
        margin: 10px 0 0 20px;
        display: block;
    }

    .modtype-mod_custom.social a img {
        height: 32px;
        width: 32px;
    }

    .modtype-mod_custom.social a span {
        display: none;
    }
}

/* mod_login on top */
#pos-apex-top .modtype-mod_login-horizontal {
    margin-top:10px;
    margin-bottom: 5px;
    position: relative;
}

#pos-apex-top .modtype-mod_login-horizontal form {
    margin-bottom: 0;
}    

#pos-apex-top .modtype-mod_login-horizontal form #form-login-remember label {
    margin-top: 20px;
    margin-left: 12px;
}

#pos-apex-top .modtype-mod_login-horizontal form .dropdown-menu {
    padding: 10px;
    text-align: center;
    left: auto;
    right: 0;
}    

#pos-apex-top .modtype-mod_login-horizontal form  .inputbox {
    padding:3px;
}    

#pos-apex-top .modtype-mod_login-horizontal form  .btn-group {
    position: static;
}    

#pos-apex-top .modtype-mod_login-dropdown {
    margin-top:10px;
    margin-bottom: 5px;
    position: relative;
}

#pos-apex-top .modtype-mod_login-dropdown .dropdown-menu {
    right: 0;
    left: auto;
    padding: 20px 20px 0;
}

#pos-apex-top .modtype-mod_login-dropdown .dropdown-menu .inputbox {
    /*margin-bottom: 20px;*/
}


/* mod_menu on top */

#pos-apex-middle .modtype-mod_menu .navbar {
    margin-bottom: 0;
}    
    
#pos-apex-middle .modtype-mod_menu .navbar-inner {
    border: none;
    background: none;
    box-shadow: none;
}

#pos-apex-middle .modtype-mod_menu .navbar-inner,
#pos-apex-middle .modtype-mod_menu .navbar-inner .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

#pos-apex-middle .modtype-mod_menu li a {
    padding: 20px;
    text-shadow: 0 0 1px #dddddd;
}

#footer .modtype-mod_menu ul {
    margin: 0 0 0 20px;
}

#footer .modtype-mod_menu li {
    float: left;
    list-style: none;
    margin-right: 10px;
}

#footer .modtype-mod_menu li:after {
    content: "|";
    margin-left: 10px;
}

#footer .modtype-mod_menu li:last-child:after {
    content: "";
}    

@media (max-width:479px) {
    #footer .modtype-mod_menu li {
        float: none;
    }

    #footer .modtype-mod_menu li:after {
        content: "";
    }    
}

/* Shopping cart on top */

#pos-apex-top .modtype-mod_jshopping_cart {
    margin-top: 8px;
    margin-right: 25px;
}

#pos-apex-top .modtype-mod_jshopping_cart .dropdown-menu {
    left: auto;
    right: 0;
}

#pos-apex-top .modtype-mod_jshopping_cart .cart-white {
    background: url("../img/cart-white.png") no-repeat center center;
    width: 44px;
    height: 34px;
    display: block;
    float: left;
}

/* mod_pagetitle module on lef top */
#pos-apex-middle .modtype-mod_pagetitle h1 {
    font-size: 28px;
    line-height: 40px;
    padding-top: 10px;
    color: #000000;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);  
}


/* mod_jshopping_categories module on left bar */
.modtype-mod_jshopping_categories .module-header {
    padding-bottom: 10px;
}

@media (min-width: 980px) {
    .modtype-mod_jshopping_categories a {
        color: #333;
    }
}

@media(max-width: 767px) {
    #left_bar .modtype-mod_jshopping_categories li {
        float: left;
        clear: none;
        margin-right: 15px;
    }
    
    #left_bar .modtype-mod_jshopping_categories ul {
        margin-bottom: 20px;
    }
}    

/* mod_serch */
.modtype-mod_search-default form {
    margin: 0 0 16px;
}
