/*
 * Contains overrrides for specific J! modules for (maybe) specific position/page.
 */

#header-top {
    border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;

    background-color: #f4f4f4;

    marjshopgin-bottom: 20px;
}

.breadcrumb {
    background-color: transparent;
}

/* com_joomshopping */
.jshop select[name="limit"] {
    width: 60px;
}

/* Logo module */
#apex .modrole-logo a {
    font-family: 'Eurofurencelight', 'Open Sans Condensed', Helvetica, Arial, sans-serif;
    font-size: 80px;
    font-weight: 600;
    line-height: 120px;
    color: #666666;
    text-shadow: 0px 0px 1px #666666, -1px 1px 0px #444444, 1px 1px 0px #444444;
}

/* Main menu */

/* social nets module */
.modtype-mod_custom.social a {
    margin: 23px 0 0 23px;
    display: block;
    white-space: nowrap;
}

.modtype-mod_custom.social a img {
    height: 16px;
    width: 16px;
}

.modtype-mod_custom.social a span {
    color: #ccc;
    padding-left: 4px;
}

@media (max-width:979px) {

    .modtype-mod_custom.social a {
        margin: 10px 0 0 20px;
        display: block;
    }

    .modtype-mod_custom.social a img {
        height: 32px;
        width: 32px;
    }

    .modtype-mod_custom.social a span {
        display: none;
    }
}

/* mod_login on top */
#pos-apex-top .modtype-mod_login-horizontal {
    margin-top: 10px;
    margin-bottom: 5px;
    position: relative;
}

#pos-apex-top .modtype-mod_login-horizontal form {
    margin-bottom: 0;
}

#pos-apex-top .modtype-mod_login-horizontal form #form-login-remember label {
    margin-top: 20px;
    margin-left: 12px;
}

#pos-apex-top .modtype-mod_login-horizontal form .dropdown-menu {
    padding: 10px;
    text-align: center;
    left: auto;
    right: 0;
}

#pos-apex-top .modtype-mod_login-horizontal form  .inputbox {
    padding: 3px;
}

#pos-apex-top .modtype-mod_login-horizontal form  .btn-group {
    position: static;
}

#pos-apex-top .modtype-mod_login-dropdown {
    margin-top: 10px;
    margin-bottom: 5px;
    position: relative;
}

#pos-apex-top .modtype-mod_login-dropdown .dropdown-menu {
    right: 0;
    left: auto;
    padding: 20px 20px 0;
}

#pos-apex-top .modtype-mod_login-dropdown .dropdown-menu .inputbox {
    /*margin-bottom: 20px;*/
}

#footer .modtype-mod_menu ul {
    margin: 0 0 0 20px;
}

#footer .modtype-mod_menu li {
    float: left;
    list-style: none;
    margin-right: 10px;
}

#footer .modtype-mod_menu li:after {
    content: "|";
    margin-left: 10px;
}

#footer .modtype-mod_menu li:last-child:after {
    content: "";
}

@media (max-width:479px) {
    #footer .modtype-mod_menu li {
        float: none;
    }

    #footer .modtype-mod_menu li:after {
        content: "";
    }
}

#footer .modrole-socials {
    float: left;
}

#footer .modrole-socials ul {
    margin: 0;
    padding: 0;
}

#footer .modrole-socials li {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 12px;
    float: left;
}

#footer .modrole-socials li a {
    font-size: 0px;
    display: inline-block;
    height: 32px;
    width: 32px;
}

#footer .modrole-socials li a.vk {
    background: url("../img/vkontakte.png");
}

#footer .modrole-contacts {
    float: right;
}

#footer .modrole-contacts ul {
    margin: 0;
    padding: 0;
}

#footer .modrole-contacts li {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 12px;
    float: left;
}

#footer .modrole-contacts a {
    color: #7dabd1;
}

#footer .modrole-contacts [class*="icon-"] {
    margin-right: 5px;
    /*color: #bed5e8;*/
    color: #7dabd1;
    font-size: 22px;
}

/* Shopping cart on top */

#pos-apex-top .modtype-mod_jshopping_cart {
    margin-top: 8px;
    margin-right: 25px;
}

#pos-apex-top .modtype-mod_jshopping_cart .dropdown-menu {
    left: auto;
    right: 0;
}

#pos-apex-top .modtype-mod_jshopping_cart .cart-white {
    background: url("../img/cart-white.png") no-repeat center center;
    width: 44px;
    height: 34px;
    display: block;
    float: left;
}

/* mod_pagetitle module on lef top */
#apex .modtype-mod_pagetitle h1 {
    font-size: 28px;
    line-height: 40px;
    padding-top: 10px;
    color: #000000;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
}

/* mod_jshopping_categories module on left bar */
.modtype-mod_jshopping_categories .module-header {
    padding-bottom: 10px;
}

@media (min-width: 980px) {
    .modtype-mod_jshopping_categories a {
        color: #333;
    }
}

@media (max-width: 767px) {
    #left_bar .modtype-mod_jshopping_categories li {
        float: left;
        clear: none;
        margin-right: 15px;
    }

    #left_bar .modtype-mod_jshopping_categories ul {
        margin-bottom: 20px;
    }
}

/* mod_cart on header */
#apex .modrole-cart {
    margin-top: 0px;
    line-height: 15px;
    display: inline-block;
}

@media (max-width:679px) {
    #apex .modrole-cart {
        margin: 0px;
        float: left;
        line-height: 15px;
    }
}

#apex .modrole-cart a {
    display: block;
    margin: 0px;
    padding: 0px 10px;
    border: 1px solid #dd7777;
    border-radius: 15px;
    -webkit-box-shadow: inset 0 0 2px #dd7777;
    -moz-box-shadow: inset 0 0 2px #dd7777;
    box-shadow: inset 0 0 2px #dd7777;
    line-height: 28px;

}

#apex .modrole-cart span {
    color: #dd7777;
    font-size: 23px;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    display: inline;
}

#apex .modrole-cart .count {
    margin-left: 4px;
    font-family: 'Open Sans';
    font-size: 12px;
    line-height: 24px;
    vertical-align: bottom;
}

/* mod_serch on header */
#apex .modtype-mod_search {
    margin-top: 0px;
    display: inline-block;
    margin-right: 30px;
}

@media (max-width:679px) {

    #apex .modtype-mod_search {
        margin-right: 50px;
    }
}

#apex .modtype-mod_search-searchglass .search-module {
    position: relative;
    text-align: right;
}

#apex .modtype-mod_search-searchglass .inputbox {
    padding-right: 30px;
    border-radius: 0px;
}

#apex .modtype-mod_search-searchglass button {
    border: none;
    background: transparent;
    height: 30px;
    width: 30px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
}

