.items-leading p {
	clear: both;
}

.items-leading > div {
	float: left;
}

.items-leading .img-intro-left {
	float: left;
}

.items-leading h3 {
	display: inline-block;
}

.img-intro-left {
	margin: 16px 5px 0 0;
}

.article-intro {
	min-height: 80px;
}