
/* Products list page */
#yoshop-products-list {
    margin-top: 30px;
}

#yoshop-products-list .item {
    position: relative;
    overflow: hidden;
    float: left;
    margin-bottom: 30px;
}

#yoshop-products-list .item .inner {
    height: 150px;
    display: block;
    position: relative;
    border: 1px solid #bed5e8;
    padding: 5px 15px;
    background: #fcfcfc;
    box-shadow: 0 0 1px #DAE7F2;
    border-radius:4px;
}

#yoshop-products-list .item .image {
    width: 130px;
    height: 110px;
    line-height: 105px;
    text-align: center;
    display: block;
    position: relative;
    float: left;
    background: #eef0ff;
    border-radius: 4px;
}

#yoshop-products-list .item .image img {
    max-width: 100%;
    max-height: 100%;
}

#yoshop-products-list .item .cpanel {
    width: 174px;
    height: 110px;
    display: block;
    position: relative;
    float: right;
}

#yoshop-products-list .item .cpanel .buttons {
    text-align: right;
}

#yoshop-products-list .item .cpanel .stats {
    font-size: 12px;
    margin-top: 5px;

}

@media (min-width: 640px) {

    #yoshop-products-list .item.grid-3col-item0 {
        width: 31.3%;
        margin-right:2%;
    }

    #yoshop-products-list .item.grid-3col-item1 {
        width: 31.3%;
        margin: 0 1%
    }

    #yoshop-products-list .item.grid-3col-item2 {
        width: 31.3%;
        margin-left: 2%;
    }

}


@media (min-width: 480px) and (max-width: 639px) {

    #yoshop-products-list .item.grid-2col-item0 {
        width: 50%;
    }

    #yoshop-products-list .item.grid-2col-item1 {
        width: 50%;
    }
}


@media (max-width: 479px) {

    #yoshop-products-list .item {
        width: 100% !important;
    }

    #yoshop-products-list .item .inner {
        width: 300px;
        height: 300px;
        line-height: 300px;
    }
}

#yoshop-products-list .item .title {
    font-family: 'Open Sans';
    font-size: 14px;
    color: #555555;
    font-weight: 100;
    text-shadow: 1px 0 1px #ddd;
    height:24px;
}
