.blog .blog-container {
	border-collapse: separate;
}

.blog .cell {
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #CCCCCC;
	vertical-align: top;
	text-align: center;
	padding: 10px 22px;
}
.blog .cell-first {
	border-left: none !important;
}

.blog .cell-last {
	border-right: none !important;
}