.mod-search .search {
    position: relative;
}

.mod-search #mod-search-searchword {
    background-color: #626262;
    border-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #fff;
}    

.mod-search #mod-search-searchword:focus {
    background-color: #fff;
    border-color: inherit;
    color: #333;
}    

.mod-search .search .image-button {
    position: absolute;
    display: block;
    padding: 5px;
    width: 18px;
    height: 18px;
    border: 0;
    background-color: transparent;
    right: 0;
    top: 0;
    cursor: pointer;
/*    border-left: 1px solid #ccc;*/
/*    border-radius*/
}